@charset "UTF-8";
@font-face { 
    font-family: helvetica; 
    src: url("./font/Helvetica.ttc"); 
  } 

.logoimg{
    margin-bottom: 10%;
}
.menu{
    font-family:Helvetica;
    font-size: 100%;
    font-weight: 700;
    color: white;
    text-decoration: none;
	background-color: black;
}
.menu:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}

a{
	margin-right: 50px;
}
.nav{
	font-family: helvetica;
	font-weight: bolder;
	font-size: 200%;
	position: fixed;
	left: 0;
	right:0;
	top: 0px;
	z-index: 999;
}
.nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
.nav>ul>li{
	float: left;
	list-style: none;
	top: 0px;
}

.nav ul li ul li a{
	position: relative;
	color: white;
	text-decoration: none;
	background-color: black;
	padding:0px;
	margin-left: 0px;
}
.nav ul li ul li a:hover{
	background-color: white;
	color: black;

}
.nav ul li ul{
	display: none;
	max-width: 500px;
	padding: 0;
	list-style: none;
}
.nav ul li:hover ul{display: block;}
#listgame{display: none;}
#listarticle{display:none;}
img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: run-in;
}
body{
    background-color: black;
}
.box_icon{
	position: fixed;
	width: 100px;
	height: 100px;
	top: 80%;
	left: 85%;
	z-index: 999;
}
.bar{
	background-image: url("../images/LOGO_long_white.png");
	height: 1200px;
	right: 0px;
	background-size: contain;
	background-attachment: scroll;
	opacity: 0.4;
	transition: background-image 1s;
}
.bar:hover{
	background-image: url("../images/LOGO_long_black.png");
    background-size: contain;
	background-attachment: scroll;
	transition: background-image 1s;

}
.inbar{
	background-color: white;
	position: relative;
	height:200px;
	top:1200px;
	font-family: helvetica;
	font-weight: bolder;
	font-size: 200%;
	z-index:998;
}
p{
	color: white;
	font-family: helvetica;
	font-weight: bolder;
	font-size: 200%;
}